/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

* {box-sizing: border-box;}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding: 20px;
}

.fstoggle {
    background-color: black;
}


h2 {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin-left: auto; margin-right: auto;
}

.videocontainer {
    width: 100%;
}

.fstoggle .videocontainer {
    width: 100%; height: auto;
    background-color: black;
}

.iefullscreen .videocontainer {
    position: absolute;
    left: 0; top: 0;
    height: 100% !important; width: 100% !important;
    background-color: black;
    z-index: 10000;
}

.iefullscreen button {
    z-index: 20000;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.iefullscreen .btn-fs {
    margin-left: 60px;
}

video {
    border: 1px black solid;
    height: 100%; width: 100%;
}

button {
    -webkit-appearance: none;
    background-color: black;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: .9em;
    padding: 3px 10px;
    display: block;
    margin: 5px 10px 0 0;
    float: left;
    width: 95px;
}

nav {
    margin-top: -65px;
    z-index: 1000;
    position: relative;
}

nav ul {
    list-style-type: none;
    text-align: justify;
    max-width: 500px;
    padding: 0;
    margin: 0 auto 0;
    height: 70px;
}

nav ul:after {
    content: '';
    width: 100%;
    display: inline-block;
}

nav li {
    margin: 0; padding: 0;
    display: inline-block;
    width: 50px; height: 50px;
    border-radius: 50%;
    border: 1px black solid;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0,0,0,.6);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform: translate(0, -30px);
    -moz-transform: translate(0, -30px);
    -ms-transform: translate(0, -30px);
    -o-transform: translate(0, -30px);
    transform: translate(0, -30px);
    opacity: 0;
}

    nav .active {
        box-shadow: 0 0 15px 5px #f0f;
    }

    .clear {
        background-color: white;
    }

    .blue {
        background-color: blue;
        text-shadow: 0 0 15px rgba(255,255,255,1);
    }

    .red {
        background-color: red;
    }

    .sepia {
        background-color: #b67805;
    }

    .green {
        background-color: green;
    }

    .yellow {
        background-color: yellow;
    }


    .clear.fadeIn  {
        transition-delay: 0s;
    }

    .blue.fadeIn  {
        transition-delay: 0.1s;
    }

    .red.fadeIn  {
        transition-delay: 0.2s;
    }

    .sepia.fadeIn  {
        transition-delay: 0.3s;
    }

    .green.fadeIn  {
        transition-delay: 0.4s;
    }

    .yellow.fadeIn {
        transition-delay: 0.5s;
    }

.ms {
    font-size: .8em;
    /*display: none;*/ 
}
.ms span {
    font-weight: bold;
}


/* helper classes */
.fadeIn {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}